{% extends "base.html" %}
{% block css %}
{{ super() }}
.toc {
    display: none;
}
.toc a {
     color: #eeeeee;
}


@media (min-width: 1100px){
    .toc {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 400px;
        display: block;
    }
    .toc-flex{
        flex-grow: 0;
        flex-shrink: 0;
        width: 400px;
    }
}
.codehilite {
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
}
p>code {
    background: #2f1e2e;
    padding: 4px;
}
{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" href="/styles/code-dark.css">
{% endblock %}

{% block before_container %}
  <div class="toc">
    {% autoescape false %}
      {{toc}}
    {% endautoescape %}
  </div>
{% endblock %}


{% block main_content %}
  {% autoescape false %}
    {{post}}
  {% endautoescape %}
  {#
  <div class="tags">
    Posted under:
    {% for tag in tags %}
      <a href="/tags/{{tag}}">{{tag}}</a>
    {% endfor %}
  </div>
  #}
{% endblock %}

{% block after_content %}
  {% if toc %}
    <div class="toc-flex"></div>
  {% endif %}
{% endblock %}
